
<div class="container text-center h-100">

    <div class="row py-4 h-auto">
        <div class="row justify-content-end">
          <button class="btn-close" (click)="home()"></button>
        </div>
    </div>

    <div class="row justify-content-center align-items-center h-75">
      <div class="col">
       
        <ngx-scanner-qrcode #action="scanner" (event)="onEvent($event)"></ngx-scanner-qrcode>
        <p class="mt-3" *ngIf="action.isLoading">⌛ Loading...</p>
        <p class="mt-3" *ngIf="isError">Error reading QR Code. Please try again.</p>

      </div>
    </div>
    
</div>