
<div class="bg-vi-red position-absolute top-0 text-center w-100 banner-height">
  <button (click)="back()" class="btn btn-transparent text-white position-absolute top-0 start-0 backBtn" type="button">
    <h4>←</h4>
  </button>
  <p class="mt-5">Payment to store</p>
</div>

<div class="container text-center h-100">

  <div class="d-flex justify-content-center align-items-center h-100">
   
    <div class="col px-5">
      <p class="fs-1"><b>{{storeName}}</b></p>
      <label class="form-label mt-5">Enter amount</label>
      <input [(ngModel)]="amount" placeholder="0" class="form-control text-center bg-dark text-white p-3" type="number"
        aria-label="default input example"
        [ngClass]="isInvalidAmt ? 'border-danger' : 'border-dark'">
      

      <div *ngIf="isInvalidAmt" class="form-text text-danger">
        Insufficient balance.
      </div>

      <br>

      <button *ngIf="!disablePayBtn" type="button" class="mt-3 btn btn-default w-100 p-2" (click)="payment()" [disabled]="disablePayBtn">PAY</button>
      <button *ngIf="disablePayBtn" type="button" class="mt-3 btn btn-default w-100 p-2" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
         Processing payment
      </button>

    </div>
  </div>
</div>