/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: black !important;
}

body {
    background-color: black !important;
}

.backBtn {
    margin-top: 40px;
}

.banner-height {
    height: 80px;
}

.qrscanner {
    margin-top: 90px;
}

textarea:focus, input:focus{
    box-shadow: none !important;
}

label, .text-vi-gold {
    color: #DB7210;
}

.text-vi-red {
    color: #A40000;
}

.bg-vi-red {
    background-color: #A40000;
}

.btn-default {
    color: white !important;
    background-color: #A40000 !important;
}

.btn-outline {
    color: #A40000 !important;
    background-color: transparent !important;
    border-color: #A40000 !important;
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Nunito';
    color: white;
}