<div class="bg-vi-red position-absolute top-0 text-left w-100 banner-height">
  <p class="mt-5"></p>
</div>

<div class="container text-center h-100">
  <div class="row justify-content-center h-100 pt-5 mt-5">
    <div class="col mt-5">
      <h4 class="text-vi-gold">Hello, {{username | titlecase}}!</h4>

      <p class="mt-5">Available Balance</p>

      <h1 *ngIf="!isBalanceLoading" class="text-vi-gold display-1" style="font-weight: bolder;">
        <img src="../../assets/essence.png" style="width: 40px;">
        {{stars}}
      </h1>

      <h1 *ngIf="isBalanceLoading">
        <span class="spinner-border text-vi-gold" role="status"></span>
      </h1>

      <button *ngIf="!disablePayBtn" (click)="goToQrScanner()" type="button" class="mt-5 btn btn-default w-50 p-3 rounded-pill">
        <img src="../../assets/scan.png" alt=""> Pay
      </button>

      <button *ngIf="disablePayBtn" type="button" class="mt-5 btn btn-default w-50 p-3 rounded-pill" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>

      <button class="btn btn-outline w-75 position-absolute bottom-0 start-50 translate-middle-x mb-5"
        (click)="logOut()" [disabled]="disablePayBtn">Logout</button>

    </div>
  </div>

</div>